{% extends 'ManFinanceBundle:Customer:base.html.twig' %}
{% form_theme form 'ManFinanceBundle:Form:form_div_layout.html.twig' %}

{% block body -%}
	    <!-- Matter -->

		{{ form_start(form) }}
	    <div class="matter">
        <div class="container">

          <div class="row">
            <div class="col-md-7">

              <div class="widget wviolet">
                <div class="widget-head">
                  <div class="pull-left"> {{ 'Add New Customer'|trans }} </div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="widget-content">
					  <div class="padd">
						{# ------------------------------------------------------ Customer ------------------------------------------------------ #}
						<h6> {{ 'Customer Details'|trans }} </h6>
						<hr />
						<div class="form-horizontal">
							{{ form_row(form.id_card) }}
							{{ form_row(form.title_name) }}
							{{ form_row(form.first_name) }}
							{{ form_row(form.last_name) }}
							{{ form_row(form.nick_name) }}
							{{ form_row(form.phone) }}
							{{ form_row(form.birth_date) }}
						   <h6>{{ 'Address'|trans }}</h6>
						   <hr />
							<ul class="addresses" data-prototype="{{ form_widget(form.address.vars.prototype)|e }}">
								{# iterate over each existing tag and render its only field: name #}
								{% for addr in form.address %}
									<li>{{ form_row(addr) }}</li>
								{% endfor %}
							</ul>							

						</div>
			
					  </div>
                </div>
                    <!-- Footer goes here -->
              </div>  
              
            </div>

            <!-- post sidebar -->

            <div class="col-md-5">

              <div class="widget wgreen">
                <div class="widget-head">
                  <div class="pull-left">{{ 'Property'|trans }}</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="widget-content">
                  <div class="padd">
					{# ------------------------------------------------------ Land ------------------------------------------------------ #}
					<div class="form-horizontal">
						   <h6>{{ 'Land'|trans }}</h6>
						   <hr />
							<ul class="property_land" data-prototype="{{ form_widget(form.property_land.vars.prototype)|e }}">
								{# iterate over each existing tag and render its only field: name #}
								{% for land in form.property_land %}
									<li>{{ form_row(land) }}</li>
								{% endfor %}
							</ul>						
					
					{# ------------------------------------------------------ Car ------------------------------------------------------ #}
						   <h6>{{ 'Car'|trans }}</h6>
						   <hr />
							<ul class="property_car" data-prototype="{{ form_widget(form.property_car.vars.prototype)|e }}">
								{# iterate over each existing tag and render its only field: name #}
								{% for car in form.property_car %}
									<li>{{ form_row(car) }}</li>
								{% endfor %}
							</ul>				
					
					</div>

                  </div>
                </div>
              </div>  			  

            </div>

          </div>

        </div>
		  </div>
		{{ form_end(form) }}
		<!-- /form -->
		<!-- Matter ends -->
{% endblock %}

{% block javascripts %}
<script>
var $addressCollectionHolder;
var $landCollectionHolder;
var $carCollectionHolder;

// setup an "add a tag" link
var $addAddressLink = $('<a href="#" class="add_tag_link"><i class="icon-plus-sign"></i> {{ 'Add Address'|trans }}</a>');
var $addressNewLinkLi = $('<li></li>').append($addAddressLink);
var $addLandLink = $('<a href="#" class="add_tag_link"><i class="icon-plus-sign"></i> {{ 'Add Land'|trans }}</a>');
var $landNewLinkLi = $('<li></li>').append($addLandLink);
var $addCarLink = $('<a href="#" class="add_tag_link"><i class="icon-plus-sign"></i> {{ 'Add Car'|trans }}</a>');
var $carNewLinkLi = $('<li></li>').append($addCarLink);

jQuery(document).ready(function() {
	//*************************************************
	// address
    // Get the ul that holds the collection of tags
	//*************************************************
    $addressCollectionHolder = $('ul.addresses');

	// add a delete link to all of the existing tag form li elements
    $addressCollectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });
	
    // add the "add a tag" anchor and li to the tags ul
    $addressCollectionHolder.append($addressNewLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $addressCollectionHolder.data('index', $addressCollectionHolder.find(':input').length);

    $addAddressLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm($addressCollectionHolder, $addressNewLinkLi, ' {{ 'Address'|trans }}');
    });
	
	//*************************************************
	// Property Land
    // Get the ul that holds the collection of tags
	//*************************************************
    $landCollectionHolder = $('ul.property_land');
	
	// add a delete link to all of the existing tag form li elements
    $landCollectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });
	
    // add the "add a tag" anchor and li to the tags ul
    $landCollectionHolder.append($landNewLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $landCollectionHolder.data('index', $landCollectionHolder.find(':input').length);

    $addLandLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm($landCollectionHolder, $landNewLinkLi,' {{ 'Land'|trans }}');
    });
	
	
	//*************************************************
	// Property Land
    // Get the ul that holds the collection of tags
	//*************************************************
    $carCollectionHolder = $('ul.property_car');

		// add a delete link to all of the existing tag form li elements
    $carCollectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });
	
    // add the "add a tag" anchor and li to the tags ul
    $carCollectionHolder.append($carNewLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $carCollectionHolder.data('index', $carCollectionHolder.find(':input').length);

    $addCarLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm($carCollectionHolder, $carNewLinkLi,' {{ 'Car'|trans }}');
    });	
});

function addTagForm($collectionHolder, $newLinkLi, label) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);
	newForm = newForm.replace(/form-control/g, '');
	newForm = newForm.replace(/label__/g, label);
	
    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
	
    // add a delete link to the new form
    addTagFormDeleteLink($newFormLi);	
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a href="#"><i class="icon-minus-sign"></i> {{ 'Delete'|trans }}</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}
</script>
{% endblock %}