<a href="#"><strong><i class="glyphicon glyphicon-briefcase"></i> Menu</strong></a>

<hr>

	
<ul class="list-unstyled nav nav-pills nav-stacked"> 
	<li{% if app.request.get('_route') == 'man_finance_homepage' %} class="active"{% endif %}>
		<a href="{{ path('man_finance_homepage') }}"><i class="glyphicon glyphicon-home"></i> {{ 'Dashboard'|trans }}</a></li> 
	<li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#decMenu">
	  <h5>{{ 'Effective Rate'|trans }} <i class="glyphicon glyphicon-chevron-down"></i></h5>
	  </a>
		<ul class="list-unstyled collapse in nav nav-pills nav-stacked" id="decMenu">		
			<li{% if app.request.get('_route') == 'man_finance_dec_new' %} class="active"{% endif %}>
				<a href="{{ path('man_finance_dec_new') }}"><i class="glyphicon glyphicon-plus"></i> {{ 'Add New Card'|trans }}</a></li>
			<li{% if app.request.get('_route') == 'man_finance_dec_searchcard' %} class="active"{% endif %}>
				<a href="{{ path('man_finance_dec_searchcard') }}"><i class="glyphicon glyphicon-search"></i> {{ 'Search Card'|trans }}</a></li>
		</ul>
	</li>	
	<li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#customerMenu">
	  <h5>{{ 'Customer'|trans }} <i class="glyphicon glyphicon-chevron-down"></i></h5>
	  </a>
		<ul class="list-unstyled collapse in nav nav-pills nav-stacked" id="customerMenu">	
			<li{% if app.request.get('_route') == 'man_finance_customer_new' %} class="active"{% endif %}>
				<a href="{{ path('man_finance_customer_new') }}"><i class="glyphicon glyphicon-plus"></i> {{ 'Add New Customer'|trans }}</a></li>
			<li{% if app.request.get('_route') == 'man_finance_customer' %} class="active"{% endif %}>
				<a href="{{ path('man_finance_customer') }}"><i class="glyphicon glyphicon-th-list"></i> {{ 'Customer List'|trans }}</a></li>
		</ul>
	</li>				

</ul> 

<hr>


