{% extends 'ManFinanceBundle::base.html.twig' %}
{% form_theme form 'ManFinanceBundle:Form:fields.html.twig' %}

{% block page_heading %} {{ 'Effective Rate'|trans }} {% endblock page_heading %}
{% block page_meta %} {{ 'Effective Rate Work'|trans }} {% endblock page_meta %}

{% block body -%}
	    <!-- Matter -->

	    <div class="matter">
        <div class="container">

          <div class="row">

            <div class="col-md-12">


              <div class="widget wgreen">
                
                <div class="widget-head">
                  <div class="pull-left"> {{ 'Add New Card'|trans }} </div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="widget-content">
                  <div class="padd">

                    <h6> {{ 'Customer Details'|trans }} </h6>
                    <hr />
					
    {{ form(form, {'attr':{'class': 'form-horizontal', 'role': 'form'}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('man_finance_customer') }}">
            Back to the list
        </a>
    </li>
</ul>

                  </div>
                </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
              </div>  

            </div>

          </div>

        </div>
		  </div>

		<!-- Matter ends -->
{% endblock %}
